{% extends 'base.html.twig' %}

{% block title %}Hello TodosListsController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/create-list.css"/>
{% endblock %}
{% block body %}

<div class="container">
    <h1>Créer une nouvelle liste</h1>
    <div class="create-card">
        {{form_start(form)}}
            {{form_row(form.name)}}
            {{form_row(form.color)}}
            <div class="errors">
                {{ form_errors(form) }}
            </div>
            <input type="submit" value="creer la liste"/>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}
