{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.get("_route") == "create_list" %}
        Créer une liste
    {% else %}
        Modifier une liste
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/create-list.css"/>
{% endblock %}
{% block body %}

<div class="container">
    {% if app.request.get("_route") == "create_list" %}
        <h1>Créer une nouvelle liste</h1>
    {% else %}
        <h1>Modifier la liste "{{list.name}}"</h1>
    {% endif %}
    
    <div class="create-card">
        {{form_start(form)}}
            {{form_row(form.name)}}
            {{form_row(form.color)}}
            <div class="errors">
                {{ form_errors(form) }}
            </div>
            <div class="buttons">
                {% if app.request.get("_route") == "create_list" %}
                    <input class="btn btn-add" type="submit" value="creer la liste"/>
                 {% else %}
                     <input class="btn btn-add" type="submit" value="Mettre a jour la liste"/>
                {% endif %} 
                      <a class="btn btn-cancel" href="./">Annuler</a>
            </div>
           
        {{form_end(form)}}
    </div>
</div>
{% endblock %}
