{% extends 'base.html.twig' %}

{% block title %}TodosLists APP{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/lists.css"/>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="topbar">
            <a  class="btn btn-add" href="./create-list"><i class="fa-solid fa-plus"></i>Ajouter une liste</a>
        </div>
        <div class="board">
            {% for list in lists %}
                <div class="card">
                    <div class="card-header">
                        <div class="title">{{ list.name}} - {{ list.color}}</div>
                        <div class="buttons">
                            <a type="button" class="btn btn-task" href="./update-list/{{list.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a type="button" href="/delete-list/{{list.id}}" class="btn btn-delete" ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                        <ul class="tasksList">
                            {% for task in list.tasks %}
                                <li class="task">
                                    <input class="taskDone" type="checkbox"  {{ task.done ? "checked" : ""}}   onChange="window.location.href='/update-task-status/{{task.id}}'" />
                                    <h4>{{task.title}}</h4>
                                    <a type="button" class="btn btn-task" href="./update-task/{{task.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a type="button" href="/delete-task/{{task.id}}" class="btn btn-delete" ><i class="fa-solid fa-trash"></i></a>
                                </li>
                            {% endfor %}
                            <li style="margin-top:3rem;margin-bottom:1rem"><a class="btn btn-add-task" href="/create-task/{{list.id}}"><i class="fa-solid fa-plus"></i>Ajouter une tâche</a></li>
                        </ul>      
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

